
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Bienvenue sur l'utilitaire de gestion des eaux</span>
  <div class="spacer"></div>
  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <span>Dimensionnement des bassins versants</span>
      <div class="center">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="bv_dropped($event)" (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Dépose ici tes fichiers bassins
            <button type="button" (click)="openFileSelector()">Browse Files</button>
          </ng-template>
        </ngx-file-drop>
        <div class="upload-table">
          <table class="table">
            <thead>
              <tr>
                <th>Fichiers bassins chargés</th>
              </tr>
            </thead>
            <tbody class="upload-name-style">
              <tr *ngFor="let item of bvfiles; let i=index">
                <td><strong>{{ item.relativePath }}</strong></td>
                <td>X bassins</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="col-sm">

      <span>Décanteurs</span>
      <div class="center">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dec_dropped($event)" (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">Dépose ici tes fichiers décanteurs
            <button type="button" (click)="openFileSelector()">Browse Files</button>
          </ng-template>
        </ngx-file-drop>
        <div class="upload-table">
          <table class="table">
            <thead>
              <tr>
                <th>Fichiers décanteurs chargés</th>
              </tr>
            </thead>
            <tbody class="upload-name-style">
              <tr *ngFor="let item of decfiles; let i=index">
                <td><strong>{{ item.relativePath }}</strong></td>
                <td>X bassins</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">


    <div class="col-sm"><span>Fichiers excel</span>
    </div>
  </div>

</div>