<!-- Toolbar -->
<div class="container">

  <div class="row row-flex">
    <div class="col align-self-center" style="text-align:-webkit-center;">
      <img class="img-fluid" src="../../assets/banniere.png" />
    </div>
  </div>

  <app-input-dbf></app-input-dbf>

  <app-output-xls></app-output-xls>
 
  <div class="row row-flex" style="margin-top:1vw;">
    <div class="col-sm reset-enable text-center" (click)="reset()">
      Réinitialiser
    </div>
  </div>

  <app-footer></app-footer>

</div>