<!-- Toolbar -->
<div class="toolbar" style="padding: 5px;">
  <div class="row">
    <img class="icon" src="assets/gde.png" />
    <h2>Bienvenue sur l'utilitaire de gestion des eaux</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>Dimensionnement</h4>
      <div class="center">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="bv_dropped($event)" (onFileOver)="fileOver($event)"
          (onFileLeave)="fileLeave($event)">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Dépose ici le fichier des bassins versants
          </ng-template>
        </ngx-file-drop>
        <div class="upload-table" *ngIf="bvFilled">
          <table class="table">
            <thead>
              <tr>
                <th>Fichier bassin chargé</th>
              </tr>
            </thead>
            <tbody class="upload-name-style">
              <div *ngIf="bvFilled && !bvResponse">
                <span>Chargement </span>
                <img class="icon" src="assets/loading.gif" />
              </div>
              <div *ngIf="bvResponse && !bvResponse.error">
                <tr *ngFor="let item of bvfiles; let i=index">
                  <td><strong>{{ item.relativePath }}</strong></td>
                  <td>{{bvResponse.nbBassins}} bassins</td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="col-sm">
      <h4>Décanteurs</h4>
      <div class="center">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dec_dropped($event)"
          (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            Dépose ici le fichier des décanteurs
          </ng-template>
        </ngx-file-drop>
        <div class="upload-table" *ngIf="decFilled">
          <table class="table">
            <thead>
              <tr>
                <th>Fichier décanteur chargé</th>
              </tr>
            </thead>
            <tbody class="upload-name-style">
              <div *ngIf="decFilled && !decResponse">
                <span>Chargement </span>
                <img class="icon" src="assets/loading.gif" />
              </div>
              <div *ngIf="decResponse && !decResponse.error">
                <tr *ngFor="let item of decfiles; let i=index">
                  <td><strong>{{ item.relativePath }}</strong></td>
                  <td>{{decResponse.nbDecanteurs}} décanteurs</td>
                </tr>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">


    <div class="col-sm">
      <h4>Fichier excel généré</h4>
      <div *ngIf="!bvFilled && !decFilled">
        <span>Veuillez renseignez les fichiers nécéssaires au calcul</span>
      </div>
      <div *ngIf="result && result.inProgress">
        <span>Veuillez patienter svp ...</span>
      </div>
      <div *ngIf="bvFilled && decFilled && (!result || !result.computationOk)">
        <span>Problème de génération du Excel, contactez le développeur de cette application</span>
      </div>
      <div *ngIf="result && result.computationOk">
        <span>Résultat prêt !</span>
        <button (click)="downloadFile()">Télécharger</button>
      </div>
    </div>
  </div>

</div>