<div class="row row-flex" style="margin-top:1vw;">

  <div style="background-color: #084887;width:2px;"></div>
  <div class="col">
    <h4>Génération Excel & DBF</h4>
    <div class="container">
      <div class="row row-flex ">
        <div class="col-sm">
          <h5>Excel</h5>
          <div class="onglet align-self-center" [class.waiting]="bvDecSent && 
          (!result || (result && !result.objRetComputeOk && !result.error) )">
            <div class="container row-flex">
              <div class="col-sm align-self-center">Objectifs de rétention</div>
              <div class="col-sm align-self-center">
                <span class="badge bg-secondary" *ngIf="!bvDecSent">Pas de données</span>
                <span class="badge bg-primary waiting" *ngIf="bvDecSent && 
              (!result || (result && !result.objRetComputeOk && !result.error) )">Calcul
                  {{result.objRetComputeProgress}}%</span>
                <span class="badge bg-success" *ngIf="result && result.objRetComputeOk">Généré</span>
                <span class="badge bg-danger" *ngIf="bvDecSent && bvDecResponse && bvDecResponse.error">Erreur</span>
              </div>
            </div>
          </div>
          <div class="onglet align-self-center" [class.waiting]="decSent && 
          (!result || (result && !result.retComputeOk && !result.error) )">
            <div class="container row-flex">
              <div class="col-sm align-self-center">Rétention des bassins</div>
              <div class="col-sm align-self-center">
                <span class="badge bg-secondary" *ngIf="!decSent">Pas de données</span>
                <span class="badge bg-primary waiting" *ngIf="decSent && 
                (!result || (result && !result.retComputeOk && !result.error) )">Calcul
                  {{result.retComputeProgress}}%</span>
                <span class="badge bg-success" *ngIf="result && result.retComputeOk">Généré</span>
                <span class="badge bg-danger" *ngIf="decSent && decResponse && decResponse.error">Erreur</span>
              </div>
            </div>
          </div>
          <div class="onglet align-self-center" [class.waiting]="bvExuSent &&
            (!result || (result && !result.q100ComputeOk && !result.cassisComputeOk && !result.error) )">
            <div class="container row-flex">
              <div class="col-sm align-self-center">Q100 et déversoirs</div>
              <div class="col-sm align-self-center">
                <span class="badge bg-secondary" *ngIf="!bvExuSent">Pas de données</span>
                <span class="badge bg-primary waiting" *ngIf="bvExuSent &&
                (!result || (result && !result.q100ComputeOk && !result.cassisComputeOk && !result.error) )">Calcul
                  Q100({{result.q100InProgress}}%) - Cassis({{result.cassisInProgress}}%)</span>
                <span class="badge bg-success"
                  *ngIf="result && result.q100ComputeOk && result.cassisComputeOk">Généré</span>
                <span class="badge bg-danger" *ngIf="bvExuSent && bvExuResponse && bvExuResponse.error">Erreur</span>
              </div>
            </div>
          </div>

          <div class="container align-self-center">
            <div *ngIf="!result || !result.xlsComputationOk" class="download-disable">
              <img style="height:auto;width:20px" src="../../assets/download-xls-ko.png" />
              <label style="padding-left:2px; cursor: none;">Dimensionnement</label>
            </div>
            <div *ngIf="result && result.xlsComputationOk" class="download-enable" (click)="downloadXlsFile()">
              <div> <img style="height:auto;width:20px;cursor: pointer;" src="../../assets/download-xls.png" />
                <label style="padding-left:2px; cursor: pointer;">Dimensionnement</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <h5>DBF</h5>
          <div class="row align-self-center">
            <div *ngIf="!result || !result.perfDbfComputationOk" class=" download-disable">
              <img style="height:auto;width:20px" src="../../assets/download-dbf-ko.png" />
              <label style="padding-left:2px; cursor: none;">BV décanteurs conformité 2H/2ans</label>
            </div>
            <div *ngIf="result && result.perfDbfComputationOk" class="download-enable" 
              (click)="downloadPerfDbfFile()">
              <div>
                <img style="height:auto;width:20px;cursor: pointer;" src="../../assets/download-dbf.png" />
                <label style="padding-left:2px; cursor: pointer;">BV décanteurs conformité 2H/2ans</label>
              </div>
            </div>
          </div>
          <div class="row align-self-center">
            <div *ngIf="!result || !result.debitDbfComputationOk" class="download-disable">
              <img style="height:auto;width:20px" src="../../assets/download-dbf-ko.png" />
              <label style="padding-left:2px; cursor: none;">Classes de débits aux exutoires</label>
            </div>
            <div *ngIf="result && result.debitDbfComputationOk" class="download-enable"
              (click)="downloadDebitDbfFile()">
              <div><img style="height:auto;width:20px;cursor: pointer;" src="../../assets/download-dbf.png" />
                <label style="padding-left:2px; cursor: pointer;">Classes de débits aux exutoires</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>